<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trading Web App</title>
  </head>
  <body>
    <h1>Trading Web App</h1>
    <ul>
        <li><a href="/status_1">BreakOut Algo Status</a></li>
        <li><a href="/interactive_plot_1">BreakOut Algo Interactive Plot</a></li>
        <li><a href="/status_2">Algo 1 Status</a></li>
        <li><a href="/interactive_plot_2">Algo 1 Interactive Plot</a></li>
        <li><a href="/">Sign Out</a></li>
      </ul>
  </body>
</html>
