<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Interactive Plot</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function updatePlot(days) {
          window.location.href = "/interactive_plot?days=" + days;
      }
    </script>
    
  </head>
  <body>
    <h1>Break Out Strategy</h1>
    <div id="chart" class="chart"></div>
    <button onclick="updatePlot('30')">Last 30 days</button>
    <button onclick="updatePlot('90')">Last 90 days</button>
    <button onclick="updatePlot('all')">All time</button>
    <script>
      d = {{ graph_json | safe }};
      Plotly.newPlot('chart', d, {});
    </script>
    <p><a href="/home">Back to homepage</a></p>
  </body>
</html>
