<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Interactive Plot</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
      function cb(selection) {
          $.getJSON({
              url: "/callback", data: { 'data': selection }, success: function (result) {
                  Plotly.newPlot('chart', result, {staticPlot: true});;
              }
          });
      }
  </script>
  </head>
  <body>
    <h1>Break Out Strategy</h1>
    <div id="chart" class="chart"></div>
    <button onclick="filterData('30')">Last 30 days</button>
    <button onclick="filterData('90')">Last 90 days</button>
    <button onclick="filterData('all')">All time</button>
    <script>
      d = {{ graph_json | safe }};
      Plotly.newPlot('chart', d, {});
    </script>
    <p><a href="/">Back to homepage</a></p>
  </body>
</html>
